:root {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 200;
  color-scheme: light dark;
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
button {
  border: 1px solid transparent;
  margin-right: 10px;
  font-size: 18px;
  background-color: black;
}

button:hover {
  cursor: pointer;
}